body {
  background-color: #7fffd4;
  font-family: Avenir, sans-serif;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
#game {
  height: 630px;
  padding-top: 10px;
  background-image: url("../pongBG.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#title {
  font-size: 3em;
  color: #8aa;
}
#pongCourt {
  width: 600px;
  height: 500px;
}
#pongBG {
  position: absolute;
  z-index: -2;
  left: -300px;
  top: 80px;
  width: 2105px;
  height: 634px;
}
#canvas {
  width: 600px;
  height: 500px;
  position: relative;
}
#canvas:focus {
  outline: none;
}
.hidden {
  display: none;
}
.revealed {
  display: visible;
}
.player-display {
  height: 140px;
  width: 80px;
}
.player-title,
.player-score {
  background-color: #fff;
  border: 3px solid #ccc;
  height: 1.5em;
  padding: 10px;
}
.player-title {
  width: 60px;
  margin-bottom: 20px;
}
.player-score {
  width: 40px;
}
#left {
  margin-right: 80px;
  border: 10px solid #4682b4;
  color: #4682b4;
}
#right {
  margin-left: 80px;
  border: 10px solid #dc143c;
  color: #b22222;
}
.row {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.centered {
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}
