#currentWindow,
#canvas {
  position: relative;
  width: 580px;
  height: 480px;
}
#currentWindow {
  top: -40px;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  background-color: #f5f5dc;
}
#menuButtons {
  height: 70px;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  margin-top: 40px;
}
#menuButtons .row {
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
}
#instructions {
  width: 460px;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  -webkit-align-items: center;
          align-items: center;
}
#instructions li {
  padding-top: 10px;
}
#instructions button {
  margin-bottom: 20px;
}
#instructions h3 {
  width: 150px;
  padding: 0 10px;
  letter-spacing: 1px;
  border-left: 3px solid #008080;
  border-bottom: 3px solid #40e0d0;
}
#instructions .hidden,
#instructions span {
  font-size: 1.2em;
  font-weight: bold;
}
.info-text {
  height: 300px;
}
#infoButtons button {
  margin-left: 20px;
  font-size: 1.2rem;
  padding: 5px;
  border-width: 5px;
}
#winScreen h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}
.player-display {
  position: relative;
  top: -45px;
  height: 225px;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-align-items: center;
          align-items: center;
  color: #32cd32;
}
.player-display button {
  height: 40px;
  width: 110px;
  margin-bottom: 10px;
  padding: 2px;
  font-size: 1rem;
}
.player-title,
.player-score {
  height: 1.5rem;
  padding: 10px;
}
#left {
  position: relative;
  left: 20px;
  margin-right: 100px;
}
#right {
  position: relative;
  left: -20px;
  margin-left: 100px;
}
button {
  font-family: Avenir, sans-serif;
  letter-spacing: 1px;
  padding: 10px 20px;
  font-size: 1.4rem;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 3px;
  border: 7px solid #7fffd4;
  border-top: 7px solid #008080;
  border-left: 7px solid #008080;
  transition: all 0.1s ease-in;
}
button:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03) translate(0px, 1.5px);
          transform: scale(1.03) translate(0px, 1.5px);
}
button:disabled {
  border: 7px solid #999;
  border-top: 7px solid #555;
  border-left: 7px solid #555;
  background-color: #ccc;
  color: #999;
}
button:disabled:hover {
  -webkit-transform: none;
          transform: none;
  cursor: default;
}
body {
  background-color: #40e0d0;
  font-family: Avenir, sans-serif;
  margin: 0;
  font-size: 1em;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
span:hover,
h1:hover,
h2:hover,
h3:hover,
h4:hover,
p:hover {
  cursor: default;
}
#container {
  position: relative;
  height: 630px;
  padding-top: 80px;
  background-image: url("../pongBG.png");
  background-position: center center;
  background-repeat: no-repeat;
}
#pongBG {
  position: absolute;
  z-index: -2;
  left: -300px;
  top: 80px;
  width: 2105px;
  height: 634px;
}
/********************
   UTILITY CLASSES
********************/
.hidden {
  display: none;
}
.revealed {
  display: visible;
}
.row {
  display: -webkit-flex;
  display: flex;
  width: 100%;
}
.column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
          flex-direction: column;
}
.centered {
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}
.indent {
  display: inline-block;
  width: 20px;
}
